<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Edit Page</title>
</head>
<img class="DBlogo" src="https://i.imgur.com/cBxeHWy.png" alt="DB logo">
<body>
    <%-include('partials/nav') %>

    <div>
        <form action="/trips/<%= id %>?_method=PUT" method="POST">
            <div>
                <label for="tripName">Trip Name</label>
                <input
                    type="text"
                    placeholder="name of trip"
                    name="tripName"
                    value="<%= trip.tripName %>"
                >
            </div>
            <div>
                <label for="date">Dates</label>
                <input 
                    type="text"
                    placeholder="date"
                    name="date"
                    value="<%= trip.date %>"
                >
            </div>
            <div>
                <label for="city">City</label>
                <input  
                    type="text"
                    placeholder="city"
                    name="city"
                    value="<%= trip.city %>"
                >
            </div>
            <div>
                <label for="state">State</label>
                <input
                    type="text"
                    placeholder="state"
                    name="state"
                    value="<%= trip.state %>"
                >
            </div>
            <div>
                <label for="activities">Activities</label>
                <input 
                    type="text"
                    placeholder="activities"
                    name="activities"
                    value="<%= trip.activities %>"
                >
            </div>
            <div>
                <label for="photos">Photos</label>
                <input 
                    type="text"
                    placeholder="http://"
                    name="photos"
                    value="<%= trip.photos %>"
                >
            </div>
            <div>
                <label for="active">Active</label>
                <input
                    type="boolean"
                    placeholder= "status"
                    name="active"
                    value="<%= trip.active %>"
                >
            </div>
            <div>
                <label for="userId">Users</label>
                <input 
                    type="text"
                    placeholder="userId"
                    name="userId"
                    value="<%= trip.userId %>"
                >
            </div>
            <div>
                <input type="submit" value="Submit Changes">
            </div>
        </form>
    </div>
    <div>
        <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
         <input
             class="button is-danger"
             type="submit"
             value="Delete This Trip"
         >
        </form> 
     </div>
</body>
</html>