<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/edit.css">
    <title>Edit Page</title>
</head>
<img class="DBlogo" src="https://i.imgur.com/cBxeHWy.png" alt="DB logo">
<body>
    <%-include('partials/nav') %>
    <div class="plantrip">
        <form action="/trips/<%= id %>?_method=PUT" method="POST">
            <div class="input-container">
                <div class="everything-else">
                    <div>
                        <label for="tripName">Trip Name</label>
                        <input
                            type="text"
                            placeholder="name of trip"
                            name="tripName"
                            value="<%= trip.tripName %>"
                        >
                    </div>
                    <div>
                        <label for="date">Dates</label>
                        <input 
                            type="text"
                            placeholder="date"
                            name="date"
                            value="<%= trip.date %>"
                        >
                    </div>
                    <div>
                        <label for="city">City</label>
                        <input  
                            type="text"
                            placeholder="city"
                            name="city"
                            value="<%= trip.city %>"
                        >
                    </div>
                    <div>
                        <label for="state">State</label>
                        <input
                            type="text"
                            placeholder="state"
                            name="state"
                            value="<%= trip.state %>"
                        >
                    </div>
                    <div>
                        <label for="activities">Activities</label>
                        <input 
                            type="text"
                            placeholder="activities"
                            name="activities"
                            value="<%= trip.activities %>"
                        >
                    </div>
             </div>
                <div class="photo-users">
                    <div>
                        <label for="photos">Photos</label>
                        <input 
                            type="text"
                            placeholder="http://"
                            name="photos"
                            value="<%= trip.photos %>"
                        >
                    </div>
                    <div>
                        <label for="userId">Users</label>
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[0] %>">
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[1] %>">
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[2] %>">
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[3] %>">
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[4] %>">
                            <input type="text" name="userId" id="userId" value="<%= trip.userId[5] %>">
                    </div>
                </div>
            </div>
            <div class="submit-button">
                <input id="submit" type="submit" value="Save Changes">
            </div>
        </form>
        <div class="delete-button">
            <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
             <input
                 class="button is-danger"
                 type="submit"
                 value="Delete This Trip"
                 id="delete"
             >
            </form> 
         </div>
    </div>
    <div>
</body>
</html>