<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <div>
        <h1>Trip Name: <%= post.tripName %></h1>
        <h3>Trip Dates: <%= post.date %></h3>
        <h3>City: <%= post.city %></h3>
        <h3>State: <%= post.state %></h3>
        <h3>Activities: <%= post.activities %></h3>
        <img src="<%= post.photos %>" style="max-width: 500px;" />
        <h3>Active: <%= post.active %></h3>
        <h3>User: <%= post.userID %></h3>
    </div>
    <div>
        <h4>Comments:</h4>
        <form action="/trips/<%= id %>" method="POST">
            <div>
                Add a comment:
                <textarea name="comment">

                </textarea>
            </div>
            <div>
                <input 
                    name="trip" 
                    type="hidden" 
                    value="<%= id %>"
                >
            </div>
        </form>
    </div>
    <div>
       <form action="/trips/<%= post._id %>?_method=DELETE" method="POST">
        <input
            class="button is-danger"
            type="submit"
            value="Delete This Trip"
        >
        <button type="submit">Post Comment</button>
       </form> 
    </div>
    <div>
        <a href="/trips/<%= post._id %>/edit">Edit This Trip</a>
    </div>
    
</body>
</html>