<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="../public/scripts/main.js"></script> -->
    <title>Show Page</title>
</head>
<body>
    <%- include('partials/nav') %>

    <div>
        <h1>Trip Name: <%= trip.tripName %></h1>
        <h3>Trip Dates: <%= trip.date %></h3>
        <h3>City: <%= trip.city %></h3>
        <h3>State: <%= trip.state %></h3>
        <h3>Activities: <%= trip.activities %></h3>
        <img src="<%= trip.photos %>" style="max-width: 500px;" />
        <h3>Active: <%= trip.active %></h3>
        <h3>User: <%= trip.userID %></h3>
    </div>
    <div>
        <form action="/trips/<%= id %>" method="POST">
            <div>
                <input
                    type="text"
                    name="tripName"
                    value="<%= trip.tripName %>"
                >
            </div>
            <div>
                <input
                    type="text" 
                    name="tripId"
                    value="<%= trip._id %>"
                >
            </div>
            <div>
                <input
                    type="text" 
                    name="tripId"
                    value="<%= trip.userId %>"
                >
            </div>
            <div>
                <label for="comments">Comments:</label>
                    <input
                        type="text"
                        name="comments"
                        placeholder="lalalala"
                    >
            </div>
            <button class="button is-info" type="submit">Post Comment</button>
        </form>
        <h4>Comments:</h4>
        <% for(let i = 0; i < comments.length; i++) { %>
            <h3><%= comments[i].comments %></h3>
        <% } %>
    </div>
    <div>
       <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <input
            class="button is-danger"
            type="submit"
            value="Delete This Trip"
        >
       </form> 
    </div>
    <div>
        <a href="/trips/<%= trip._id %>/edit">Edit This Trip</a>
    </div>   
</body>
</html>